/* public/categories/new */
.headline {
  padding: 1rem;
}

.form-for-new-category {
  display: flex;
  padding-left: 20px;
}

.button-group{
  display: flex;
  justify-content: center:
  width: auto;
  margin: 1rem;
}

.cancel-button{
  width: auto;
  margin: 1rem;
  border-radius: 0;
}

.submit-button{
  width: auto;
  margin: 1rem;
  border-radius: 0;
}
