<%# categories/new %>
<%# app/views/categories/new %>
<link rel="stylesheet" href="/categories/new.css" title="CSS" type="text/css"/>
<h2 class='headline'>Create New category!</h2>

<div class='form-for-new-category'>
  <%= render partial: 'form' %>
</div>
